
__pycache__
**/*.pdf
**/*.toc
**/*.bbl
**/*.blg
**/*.out
**/*.aux
**/*.log
**/*.gz
**/*.pyc
**/*.fls
**/*.fdb_latexmk

.ipynb_checkpoints

# Output catalogs
/output*/

# Project and solution files
*.pyproj
*.sln

# Temporary vs files
/.vs
